.grid-layout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 2.5rem;
}

.grid-layout__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  border: 1px solid var(--white);
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: #333;
}

.grid-layout__item h5 {
  color: var(--white);
  margin: 0.5rem;
}

.list-layout {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.list-layout__item {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  border: 1px solid var(--white);
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: #333;
}

.list-layout__item h5 {
  color: var(--white);
  margin: 0.5rem;
}

@media only screen and (max-width: 640px) {
  .grid-layout {
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  }

  .grid-layout__item {
    padding: 0.5rem;
  }

  .grid-layout__item img {
    width: 3rem;
    height: 3rem;
  }

  .grid-layout__item h5 {
    font-size: 0.8rem;
  }

  .list-layout {
    grid-template-columns: 1fr;
  }

  .list-layout__item {
    padding: 0.5rem;
  }

  .list-layout__item img {
    width: 3rem;
    height: 3rem;
  }

  .list-layout__item h5 {
    font-size: 0.8rem;
  }
}
